*
{
	font-family: Arial, Helvetica, sans-serif;
}
BODY
{
	margin-top: 0px;
	margin-left: 0px;
	background: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
	background-color: #000;
	color: #9A9;
}
table, td
{
	font-size: 10pt;
}
a:link, a:active, a:visited
{
	text-decoration: underline;
	color: #9A9;
	color: #FFF;
}
a:hover
{
	color: #0F0;
}
a.bigLink
{
	font-size: 12pt;
	color: #FF0;
	font-weight: bold;
}
h1
{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	color: #FFF;
	font-size: 16pt;
	margin-top: 1em;
}
h2
{
	color: #9F9;
	font-size: 12pt;
}
h3
{
	color: #FFF;
	font-weight: bold;
	font-size: 10pt;
}
#wrapper
{
	margin: 0px;
	width: 810px;
}
#title
{
	margin-top: 0px;
	margin-bottom: 10px;
	color: #9F9;
	font-size: 18pt;
}
#leftNav
{
	width: 145px;
	height: 100%;
	float: left;
	vertical-align: top;
	font-size: 10pt;
	border-right: 1px solid #111;
	margin-left: 10px;
}
#leftNav a:link, #leftNav a:hover, #leftNav a:visited
{
	color: #9F9;
}
#leftNav a:hover
{
	color: #0F0;
}
#leftNav ul, #leftNav li
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#leftNav li
{
	padding-top: 3px;
}
#content
{
	width: 540px;
	float: left;
	vertical-align: top;
	padding-left: 10px;
	font-size: 10pt;
	margin-bottom: 2em;
}
#content p
{
	color: #9A9;
	font-size: 10pt;
	/*width: 500px;*/
}
#content p.red
{
	color: #F00;
	font-size: 10pt;
	width: 500px;
}
#content p.footer
{
	text-align: center;
	font-size: 7pt;
	color: #666;
	margin-top: 30px;
}
#content ul
{
	list-style: square;
}
#clear
{
	clear: both;
}
#footer
{
	text-align: center;
	font-size: 8pt;
	margin-top: 1em;
}
#footer a
{
	color: #000;
}
#small
{
	font-size: 7pt;
	text-align: center;
}
textarea
{
	border: 1px dashed #333;
	background-color: #111;
	padding: 4px;
	font-size: 10pt;
	color: #666;
}
input
{
	border: 1px solid #333;
	background-color: #111;
	padding: 4px;
	font-size: 10pt;
	color: #666;
}
pre.idiot
{
	color: #c3b567;
	width: 500px;
}
pre.me
{
	color: #679fc3;
	width: 500px;
}
#bigRed
{
	font-size: 12pt;
	font-weight: bold;
	color: #F00;
}
#commentBlack
{
	padding: 5px;
}
#commentBlack a
{
	font-weight: bold;
}
#commentGreen
{
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #1e321e;
	color: #CFC;
}
#commentGreen a
{
	font-weight: bold;
}


#paging
{
	background-color: #080808;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	padding-top: 10px;
	padding-bottom: 10px;
}
#paging div
{
	float: left;
	padding: 5px;
}
#paging br
{
	clear: both;
}

#paging a
{
	text-decoration: none;
	font-weight: bold;
}

#paging div.paging_left
{
	width: 190px;
	padding-left: 20px;
	text-align: left;
	background: url(../img/nav_arrow_left.gif);
	background-position: center left;
	background-repeat: no-repeat;
}
#paging div.paging_center
{
	width: 100px;
	text-align: center;
}
#paging div.paging_right
{
	width: 190px;
	padding-right: 20px;
	text-align: right;
	background: url(../img/nav_arrow_right.gif);
	background-position: center right;
	background-repeat: no-repeat;
}

#content div.ad_right
{
	width: 120px;
	float: right;
	margin: 10px;
}
#content div.ad_left
{
	width: 120px;
	float: left;
	margin: 10px;
}
